@page
@model PrivacyModel
@{
}
<div class="content">
    <h2>Contacto</h2>
    <text>Nuestros programadores estan listos para atenderte con cualquier consulta sobre tu Pagina o información en general acerca del desarrollo de la misma, para mas informacion por favor contactar a alguno de los siguientes correos:</text>
    <text><br>sfruizl@correo.udistrital.edu.co<br>Daandresjaimes@gmail.com<br>jordanruizabella@gmail.com<br>juanpaluque@hotmail.com<br>juacarica@gmail.com</text>
</div>