*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Back.jpg');   
  }

.container{
    width: 900px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'calibri';
    color: #24303c;
    box-shadow: 7px 13px 37px #000;
}

.lbl-menu{
    width : 100%;
    background: #234;
    overflow: auto;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 15px;
    color: #dde9e7;
  }

  .controls:hover{
    background: #24303ce5;
    color: white;
  }

.lbl-menu label{
    float:left;
    padding: 20px;
    color: #dde9e7;
    cursor: pointer;
    font-family: 'calibri';
    font-size: 18px;
    width: 25%; 
    text-align: center; 
    transition: all 500ms ease;
}
.lbl-menu label:hover{
    background: #28435d;
}
#radio1,#radio2,#radio3,#radio4{
    display: none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.content{
  position: relative;
}
.content div{
  position: absolute;
  width:100%;
  line-height: 1.8;
  transition: all 1000ms ease;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  padding: 30px;
  background: #bbe3e2;
  padding-bottom: 40px;
  box-shadow: 1px 1px 30px 1px #000;
}
.content h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
.content form {
  color:rgb(255, 0, 0);
}
.content select{
  font-size: 13px;
  width:100%;
  margin-bottom: 20px;
  background-color: #24303c;
  color: #dde9e7;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
	border: 1px solid #dde9e7;
}

.content select:hover{
  background-color: #24303ce5;
  color:white;
}

.content select:active{
  background-color: white;
  color:black;
}

.content div:after{
    position: absolute;
    margin-left: center;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #bbe3e2;
    bottom: 100%;
    left: 95px;
}
.content .tab2:after{
    left: 305px;
}
.content .tab3:after{
    left: 515px;
}
.content .tab4:after{
    left: 725px;
}
.content .botons {
    float:center;
    width: 100%;
    position:relative;
    border-radius: 5px;
    border: 2px solid #385e83;
    background: #dde9e7;
    padding: 12px;
    color: #385e83;
    margin: 16px 0;
    font-size: 16px;
    transition: all 1000ms ease;
  }

  .content .botons:hover {
    background: #385e83;
    border-radius: 25px;
    border: 2px solid #385e83;
    color: #dde9e7;
    transition: all 1000ms ease;
  }

  .content p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  .content text {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
  }
  .content a {
    color: #0084ff;
    text-decoration: none;
  }
  .content a:hover {
    color: #28435d;
    text-decoration: underline;
  }